html { 
    background: url(../images/blackscreen_background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul{
    display: flex;
    list-style-type: none;
    padding-top: 16px;
    padding-bottom: 8px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: black;
}

.navLog{
    margin-left: auto;
}

li{
    padding-left: 8px;
    padding-right: 8px;
    display: inline;
    text-align: center;
}

.navLinks{
    text-decoration: none;
    color: white;
}

.container{
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
}

#card1, #card2, #card3{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 200px;
}

.insideCard, .insideCardButton{
    display: flex;
    text-align: center;
    background-color: white;
    color: black;
    justify-content: center;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    width: 100%;
}

tr, th, td{
    border: 1px solid black;
    padding: 10px;
}